{% extends "page1/base.html" %}
{% block title% %}Admin Panel{% endblock %}
{% block content %}
<style>
text{
    color: white;
}
</style>
<div class=col-6>
<li><a href="http://127.0.0.1:8000/admin/page1/info">Info</a></li>
<li><a href="http://127.0.0.1:8000/admin/page1/bunk1">Bunk</a></li>
<li><a href="http://127.0.0.1:8000/admin/auth/user">User</a></li>
<li><a href="http://127.0.0.1:8000/admin/page1/todo">ToDo</a></li>
<li><a href="http://127.0.0.1:8000/admin/page1/item">Item</a></li>
<li><a href="http://127.0.0.1:8000/admin/page1/ptmodel1/">Price Tracker</a></li>
</div>
{% endblock %}
