{% extends 'page1/base.html' %}
{% block tile %}Create new list {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
   input{
        color: white;
        display: block;
        width: 270px;
        text-align: left;
        background-color: #23272B;
        font-family:'Tw Cen MT'; 
        border: 0px;
        border-radius: 4px;
   }

    input[type='submit']{
        color: red;
        align-self:flex-end;
        color: red;
        display: block;
        width: 270px;
        text-align: center;
    }
    form{
        color: red;
    }
    </style>
    <form method="post" action="/create/" class="form-group">
        {% csrf_token %}
          {{form.as_p}}                       
          <p><input type="submit", value="Add", name="save" class='btn btn-dark'></p>
    </form>
    
{% endblock %}

 